@use 'reset';




header{
     font-family: "Lato", sans-serif;
    nav{
        display: flex;justify-content: space-between;align-items: center;padding: 20px;

        .logo{
            p{
                font-size: 30px;font-weight: bold;color: #152a58;
            }
        }

        ul{
            display: flex;gap: 20px;list-style: none;

            a{
                text-decoration: none;color: #152a58;font-weight: bold;

                &:hover, :active{
                    color: #32589c;
            }
        }
    }
  }
} 


.hero{
    height: 90vh;background-image: url('../images/banner.jfif');background-size: cover;color: white; display: flex;flex-direction: column;align-items: center;text-align: left;justify-content: center;text-align: center;


    h1{
        font-size: 48px;margin-bottom: 20px; font-family: "Lato", sans-serif;
    }

    p{
        font-size: 18px;color: #fff; font-family: "Lato", sans-serif;
    }

    .btn{
        color: #fff;background-color: #152a58;padding: 10px 20px; font-family: "Lato", sans-serif;
    }
}


.about{
    h2{
        text-align: center;font-size: 36px;margin-bottom: 20px; font-family: "Lato", sans-serif;
    }

    .about-inner{
       margin-top: 50px;

        h3{
            font-size: 25px;margin-bottom: 20px; font-family: "Lato", sans-serif;
        }

        p{
        font-size: 18px;line-height: 1.6;color: #333; font-family: "Lato", sans-serif;
    }

    .btn{
        color: #fff;background-color: #152a58;padding: 10px 20px;margin-top: 15px; font-family: "Lato", sans-serif;
    }

    }
}



#services{
    background: #152a58; font-family: "Lato", sans-serif;
    h2{
        color: #fff;
    }

    .container{
        .tool-card{
            border: 2px solid #32589c;padding: 20px;margin: 10px;border-radius: 8px;text-align: center;color: #fff;

            h3{
                font-size: 22px;margin-bottom: 25px;
            }
            p{
                font-size: 16px; }

                i{ 
                    font-size: 40px;margin-bottom: 15px;color: #fff;
                }  
        }

        .btn{
            color: #fff;background-color: #32589c;padding: 10px 20px;margin: 10px 0;   
        }
    }
}


#why-us{

     font-family: "Lato", sans-serif;
    .container{
        .why-card{
            gap: 20px;align-items: flex-start;

            .number{
                font-size: 40px; font-weight: bold; color: #32589c;line-height: 1;
            }

            h5{
                font-weight: 600; margin-bottom: 8px;
            }

            p{
                color: #333;font-size: 17px; margin: 0;
            }
        }
    }
}


.footer{
    text-align: center;padding: 15px;background-color: #152a58;color: #fff;margin-top: 30px; font-family: "Lato", sans-serif;
    h2{
        font-size: 25px;font-weight: 500;
    }

    .socials{
        i{
            color: #fff;margin: 0 10px;font-size: 20px; margin: 10px;

            &:hover{
                color: #32589c;
            }
        }
    }
}


// Media Queries


@media(max-width:575px){
    header{
        nav{
            flex-direction: column;gap: 15px;

            .logo{
                p{
                    font-size:20px ;
                }
            }

            ul{
                flex-direction: column;gap: 10px;
            }
        }
    }

    .hero{
        height: 50vh;
        h1{
            font-size: 25px;
        }

        p{
            font-size: 14px;
        }
    }

    .about{
        h2{
            font-size: 24px;
        }

        .about-inner{
            margin-top: 20px;
            h3{
                font-size: 18px;
            }

            p{
                font-size: 14px;
            }

            .btn{
                margin: 10px 0;
            }
        }
    }

    #services{
        .container{
            .tool-card{
                h3{
                    font-size: 18px;
                }

                p{
                    font-size: 14px;
                }

                i{
                    font-size: 30px;
                }
            }
        }
    }

    #why-us{
        .container{
            .why-card{
                .number{
                    font-size: 30px;
                }

                h5{
                    font-size: 16px;
                }

                p{
                    font-size: 14px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .hero{
        h1{
            font-size: 32px;
        }

        p{
            font-size: 16px;
        }
    }

    .about{
        h2{
            font-size: 28px;
        }

        .about-inner{
            text-align: center;
            h3{
                font-size: 20px;
            }

            p{
                font-size: 16px;
            }
        }
    }
}