header{
    nav{
        display: flex;justify-content: space-between;align-items: center;padding: 20px;

        ul{
            display: flex;gap: 20px;list-style: none;

            a{
                text-decoration: none;color: black;font-weight: bold;
            }
        }
    }
}


.hero{
    height: 90vh;background-image: url('../images/banner.jfif');background-size: cover;color: white; display: flex;flex-direction: column;align-items: left;text-align: left;justify-content: center;padding-left: 50px;


    h1{
        font-size: 48px;margin-bottom: 20px;
    }

    p{
        font-size: 18px;color: #fff;
    }

    a{
        color: #fff;
    }
}