@use 'reset';
header {
  font-family: "Lato", sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

header nav .logo p {
  font-size: 30px;
  font-weight: bold;
  color: #152a58;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: #152a58;
  font-weight: bold;
}

header nav ul a:hover, header nav ul a :active {
  color: #32589c;
}

.hero {
  height: 90vh;
  background-image: url("../images/banner.jfif");
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

.hero p {
  font-size: 18px;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.hero .btn {
  color: #fff;
  background-color: #152a58;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
}

.about h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

.about .about-inner {
  margin-top: 50px;
}

.about .about-inner h3 {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

.about .about-inner p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  font-family: "Lato", sans-serif;
}

.about .about-inner .btn {
  color: #fff;
  background-color: #152a58;
  padding: 10px 20px;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
}

#services {
  background: #152a58;
  font-family: "Lato", sans-serif;
}

#services h2 {
  color: #fff;
}

#services .container .tool-card {
  border: 2px solid #32589c;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
}

#services .container .tool-card h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

#services .container .tool-card p {
  font-size: 16px;
}

#services .container .tool-card i {
  font-size: 40px;
  margin-bottom: 15px;
  color: #fff;
}

#services .container .btn {
  color: #fff;
  background-color: #32589c;
  padding: 10px 20px;
  margin: 10px 0;
}

#why-us {
  font-family: "Lato", sans-serif;
}

#why-us .container .why-card {
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#why-us .container .why-card .number {
  font-size: 40px;
  font-weight: bold;
  color: #32589c;
  line-height: 1;
}

#why-us .container .why-card h5 {
  font-weight: 600;
  margin-bottom: 8px;
}

#why-us .container .why-card p {
  color: #333;
  font-size: 17px;
  margin: 0;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #152a58;
  color: #fff;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
}

.footer h2 {
  font-size: 25px;
  font-weight: 500;
}

.footer .socials i {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  margin: 10px;
}

.footer .socials i:hover {
  color: #32589c;
}

@media (max-width: 575px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  header nav .logo p {
    font-size: 20px;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .hero {
    height: 50vh;
  }
  .hero h1 {
    font-size: 25px;
  }
  .hero p {
    font-size: 14px;
  }
  .about h2 {
    font-size: 24px;
  }
  .about .about-inner {
    margin-top: 20px;
  }
  .about .about-inner h3 {
    font-size: 18px;
  }
  .about .about-inner p {
    font-size: 14px;
  }
  .about .about-inner .btn {
    margin: 10px 0;
  }
  #services .container .tool-card h3 {
    font-size: 18px;
  }
  #services .container .tool-card p {
    font-size: 14px;
  }
  #services .container .tool-card i {
    font-size: 30px;
  }
  #why-us .container .why-card .number {
    font-size: 30px;
  }
  #why-us .container .why-card h5 {
    font-size: 16px;
  }
  #why-us .container .why-card p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 16px;
  }
  .about h2 {
    font-size: 28px;
  }
  .about .about-inner {
    text-align: center;
  }
  .about .about-inner h3 {
    font-size: 20px;
  }
  .about .about-inner p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */